.coffee-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
margin-top: 3rem;
}

.coffee-card {
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 1rem 0.5rem rgb(65 81 64 / 40%);
    max-width: 20rem;
    justify-content: space-between;
}

.coffee-image {
    border-radius: 0.5rem 0rem ;
}

.coffee-name {
    margin: 0.5rem 0rem ;
}


.coffee-btn {
    justify-self: flex-end;
    margin: 1rem 0rem 0.5rem;
    padding: 1rem;
    background-color: var(--bg-sec-clr);
    color: var(--font-sec-clr);
    font-size: 1rem;
    border:none;
    border-radius: 0.5rem 0rem;
}